* {
    
    background-color: #5497A7;
    box-sizing: content-box;
}
.image {
    
    /*background-image: url(_NAC5608.jpg);
    background-size: 100%;*/
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    color: #FFE66D;
}
.name {
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 97, 121);
    padding-bottom: 100px;
    padding-top: 100px;
}

.intro {
    color: #FFE66D;
    font-size: 30px;
    text-decoration: none;
    align-self: center;
}

/*.intro:hover .anch {
    border-radius: 20px;
    text-align: center;
    line-height: 65px;
    height: 70px;
    width: 100px;
    background-color: #FFE66D;
    border: solid 5px #5497A7;
    align-items: center;
    justify-content: space-around;
    display: none;
}*/
    
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.anch{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    height: 140px;
    width: 200px;
    background-color: #FFE66D;
    border: solid 5px #5497A7;
    align-items: center;
    justify-content: space-around;
    
    
    
}
/* For the projects.html */
.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-top: 10%;
    border: 1px solid black;

}

.coding {
    border: 1px solid orange;
    align-content: center;
    padding: 5%;
    width: 45%;
}

.git {
    border: 1px solid greenyellow;
    align-content: center;
    padding: 5%;

    width: 45%;
}

.github-projects {
    border: 1px solid blue;
    align-content: center;
    padding: 5%;
    width: 45%;
}

.html-logo {
    padding-top: 20px;
    width: 70%;
}

.git-logo {
    padding-top: 20px;
    width: 70%;
}



.github-image {
    width: 80%;
}