* {
    background: #366ed8;
    
    box-sizing: content-box;
}

img{
    width: 100px;
}


/*Nav Bar*/
nav{
display: flex;
background: linear-gradient(110deg, #f2f3f3 70%, #f3a953 40%);
}

.nav-list{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    background-color: #f3a953;
    background: linear-gradient(110deg, #f2f3f3 7.2%, #f3a953 5%);
    list-style: none;
    }

.nav-parts{
    background-color: #f3a953;
    padding: 20px;
    
}

.nav-parts:hover{
    background-color: #f2f3f3;
}

.nav-header {
    width: 70%;
    background-color: #f2f3f3;
    margin-left: 20px;
}
/*first page (need to edit)*/

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
     
}
.name {
    display: flex;
    font-size: 60px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110deg, #f2f3f3 75%, #f3a953 40%);
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 10px;
}

.intro {
    
    font-size: 50px;
    text-decoration: none;
    align-self: center;
}

    
.links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
}

.anch{
    background: linear-gradient(110deg, #f2f3f3 75%, #f3a953 40%);
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    width: 300px;
    background-color: #f3a953;
    align-items: center;
    justify-content: space-around;
    font-size: 30px
    
    
}


/*for the about me section*/
.about-intro{
    display: flex;
}


.main-pic{
    
    width: 50%;
}

.about-text-all{
    width: 50%;
    margin: 0px;
}

.me{
    width: 95%;
    border-radius: 6px;
}

.about-header{
    display: flex;
    justify-content: space-between;
}

.about-text, .about-name{
    background: linear-gradient(110deg, #f2f3f3 90%, #f3a953 40%);
    font-size: 30px;
    padding: 30px;
    margin-top: 0px;
    border-radius: 6px;
}

/*end of about me section*/

/* start of SMASH section*/

.smashbros-all{
    display: flex;
}

.regular-smash{
    display: flex;
    padding-bottom: 100px;
}

.smash-main-text{
    width: 50%;
}

.smashbros-pic{
    padding-left: 50px;
    width: 50%;
    border-radius: 6px;

}

.phoenix-smash{
    display: flex;
}

.phoenix-text{
    width: 50%;
}

.phoenix-pic{
    width: 50%;
    border-radius: 6px;
    
    padding-right: 50px;
}

.smash-text{
    background: linear-gradient(110deg, #f2f3f3 90%, #f3a953 40%);
    font-size: 30px;
    margin-top: 0px;
    padding: 30px;
    border-radius: 6px;
}
.smashgg{
    background: #f2f3f3;
    text-decoration: none;
}


/*start of photography Section*/
.photo-text{
    background: linear-gradient(110deg, #f2f3f3 90%, #f3a953 40%);
    font-size: 30px;
    margin-top: 0px;
    padding: 30px;
    border-radius: 6px;
}

.individual-pics, .individual-pics-1 {
    width: 100%;
    padding: 12.5px;
    flex-wrap: wrap;
    border-radius: 6px;
}



.photo-pics{
    display: flex;
}

.first-set{
    width: 50%;
}

.second-set{
    width: 50%;

}
.photography{
    
}

/* For the projects.html */
 .project {
    
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 100px;
    

}

.coding , .git, .github-projects {
    background: linear-gradient(110deg, #f2f3f3 85%, #f3a953 40%);
    border: 5px solid #366ed8;
    align-content: center;
    padding: 5%;
    width: 25%;
    border-radius: 10px;


}


.logos {
    background: #f2f3f3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
   
}

.github-image, .html-logo, .git-logo {
    display: flex;
    align-items: center;
    background: #f2f3f3;
    height: 20%;
    width: 20%;
    padding: 10px;
}

.proj-p, .proj-h {
    background: #f2f3f3;
}

.project-all {
    padding-bottom: 100px;
}

/*start of contact page*/

.contact-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f2f3f3;

}

.individual-contact{
    color: #f2f3f3;
    

}

.contact-text{
    display: flex;
    font-size: 30px;
    background: linear-gradient(110deg, #f2f3f3 85%, #f3a953 40%);
    border: 5px solid #366ed8;
    align-content: center;
    justify-content: center;
    padding: 5%;
    
    border-radius: 10px;

}